<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Create New Product</h1>
    <form action="/create" method="post">
      <label>Game:</label>
      <input type="text" name="game" id="gameInput" required />

      <label>Genre:</label>
      <input type="text" name="genre" id="genreInput" required />

      <label>Developer:</label>
      <input type="text" name="developer" id="developerInput" required />

      <button type="submit">Create</button>
    </form>
    <br></br>
    <a href="/">Back</a>
  </body>
</html>
