<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Delete Categories</h1>
    <p>Select category to delete</p>
    <form action="/delete/categories" method="post">
      <label for="categorySelector">Category Selection:</label>
      <%- include('categorySelector', {genres: genres, developers: developers})
      %>
      <label for="adminPassInput">Admin Password</label>
      <input type="text" name="password" id="adminPassInput" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
