<form>
  <select id="developersSelect" name="developers">
    <% developers.forEach(developer => { %>
    <option value="<%= developer.developer %>">
      <%= developer.developer %>
    </option>
    <% }) %>
  </select>
  <button type="submit">Submit</button>
</form>
