<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Genre</h1>
    <form action="/product/<%=id%>/updateGenre" method="post">
      <label for="editGenreInput">Genre:</label>
      <input type="text" name="genre" id="editGenreInput" value="<%=genre%>" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
