<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Game</h1>
    <form action="/product/<%=id%>/updateGame" method="post">
      <label for="editGameInput">Game:</label>
      <input
        type="text"
        name="game"
        id="editGameInput"
        value="<%=product.game%>"
      />
      <label for="editGenreInput">Genre:</label>
      <input
        type="text"
        name="genre"
        id="editGenreInput"
        value="<%=product.genre%>"
      />
      <label for="editDeveloperInput">Developer:</label>
      <input
        type="text"
        name="developer"
        id="editDeveloperInput"
        value="<%=product.developer%>"
      />
      <button type="submit">Submit</button>
    </form>
    <br></br>
    <a href="/">Home</a>
  </body>
</html>
