<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Game</h1>
    <form action="/product/<%=id%>/updateDeveloper" method="post">
      <label for="editGameInput">Developer:</label>
      <input
        type="text"
        name="developer"
        id="editDeveloperInput"
        value="<%=developer%>"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
