<form>
  <select id="genresSelect" name="genres">
    <% genres.forEach(genre => { %>
    <option value="<%= genre.genre %>"><%= genre.genre %></option>
    <% }) %>
  </select>
  <button type="submit">View By Genre</button>
</form>
