<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>View Inventory by Category</h1>
    <%- include('genres', {genres: genres}) %> <%- include('developers',
    {developers: developers}) %> <%- include('productList', {products:
    products}) %>
  </body>
</html>
